!!! 5
%html
  %head
    %title Tweet Saver
    = stylesheet_link_tag  "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body

    .navbar
      .navbar-inner
        .container
          %a.brand{href: root_path} Tweet Saver
          %ul.nav
            %li= link_to "Home", root_path

    .content
      .container
        = yield
